ion-header{
    height: 5rem;
    border-bottom: 1px solid #fefefe;
    ion-toolbar{
        padding: 0rem 1rem;
    }
    #title{
        display: flex;
        align-items: center;
        justify-content: start;
        vertical-align: middle;
        ion-title{
            font-size: medium;
            max-width: 10rem;
            margin: auto 0 auto 0;
        }
        ion-icon {
            margin: auto 0;
            color: #fefefe;
        }
    }
}
.spot-select-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    ion-icon{
        cursor: pointer;
        color: #fefefe;
        font-size: 2rem;
        margin: auto 1.25rem auto -0.938rem;
    }
    .addBtn{
        display: flex;
        padding: 1rem;
        align-items: center;
        text-align: center;
        justify-content: center;
        ion-icon{
            cursor: pointer;
            color: #fefefe;
            font-size: 2rem;
            margin: auto 0rem auto 0rem;
        }
    }
}