<ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" side="end" type="overlay">
      <ion-header>
        <span class="stylist-info">
            <ion-avatar>
                <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
        </span>
    
      </ion-header>
      <ion-content>

        <ion-card id="selectSpotMessage" [style.display]="spotsService.current_spot != null  ? 'none' : ''">

        <ion-card-header>
          <ion-icon name="location-outline"></ion-icon>
          <ion-card-subtitle>select a spot to see menu items</ion-card-subtitle>
        </ion-card-header>

        </ion-card>

        <ion-list [inset]="true">
          <ion-item [button]="true" id="navItem"  (click)="navigate(link.path)"  *ngFor="let link of routeService.navLinks" [style.display]="spotsService.current_spot != null  ? '' : 'none'" [class.active]="link.path === routeService.currentRoute.replace('/', '')">
            <ion-label>{{link.label}}</ion-label>
            <ion-icon name={{link.icon}} size="medium"></ion-icon>
          </ion-item>
        </ion-list>

        <ion-button id="logout-btn" (click)="authenticationService.logout()" expand="full">logout</ion-button>

      </ion-content>

    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>