.stylist-info{
    display: flex;
    padding: 20px;
    background-color: #0C0C0C;
    justify-content: center;
}

#logout-btn{
    margin: auto 1rem auto 1rem;
}
.list-md{
    padding: 0px;
    border-radius: 1.25rem;
}
ion-menu{
    border-left: 0.065rem solid #fefefe;
}
ion-split-pane{
    margin: 5rem 0rem 0 0
}
#navItem{
    ion-icon{
        // margin: 0px auto 10px auto;
        // font-size: 62px;
        color: #fefefe
    }
}
.active{
    --background: #0e0e0e;
}

#selectSpotMessage{
    text-align: center;
    ion-card-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    ion-icon{
        margin: 0px auto 10px auto;
        font-size: 62px
    }
}
@media screen and (max-width: 767px) {
    ion-menu{
        border-left: none;
    }
}