.stylist-info{
    display: flex;
    padding: 20px;
    background-color: #0C0C0C;
    justify-content: center;
}
#logout-btn{
    margin: 20px 10px;
}
.list-md{
    padding: 0px;
}
ion-menu{
    border-left: 1px solid #fefefe;
}
#selectSpotMessage{
    text-align: center;
    ion-card-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    ion-icon{
        margin: 0px auto 10px auto;
        font-size: 62px
    }
}