#product-list{
    gap: 1rem;
    margin: 1rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    #product{
        width: 100%;
        padding: 0rem;
        ion-card-header{
            padding: 0rem 0rem 1rem 0rem;
        }
        #product-header{
            ion-img{
                width: 100%;
                height: 25rem;
                object-fit: cover;
                cursor: pointer;
            }
            #btn-wrapper{
                bottom: 5%;
                right: 1%;
                position: absolute;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
            #upload-img-btn{
                position: relative;
            }
            #edit-btn{
                position: relative;
            }
            #delete-btn{
                position: relative;
            }
        }
       #product-content{
        display: grid;
        grid-template-columns: 60% 40%;
        #product-numbers{
            width: 100%;
            display: flex;
            flex-direction: column;
            // float: right;
            padding: 1rem;
            text-align: start;
            // align-items: center;
            background-color: black;
            justify-content: space-between;
            border-radius: var(--small-border-radius);
            #price{
                margin: 0rem;
                font-weight: 300;
            }
            #quantity{
                margin: 0rem;
                font-weight: 600;
            }
        }
       #product-text{
            padding: 0 1rem 0 0;
            #name{
                line-clamp: 1;
                overflow: hidden;
                margin: 0;
                // line-height: 120%;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
            }
            #description{
                line-clamp: 2;
                overflow: hidden;
                margin: 0.5rem 0 0 0;
                // line-height: 120%;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
            }
       }
       }
    }
}

@media screen and (max-width: 1400px) {
    #product-list{
        grid-template-columns: 1fr 1fr;
    }

    
}

@media screen and (max-width: 767px) {
    #product-list{
        grid-template-columns: 1fr;
    }
}