#product-list{
    gap: 1rem;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
    background-color: transparent;
    #product{
        width: 32%;
        padding: 0rem 0rem 1rem 0rem;
        ion-card-header{
            padding: 0rem 0rem 1rem 0rem;
        }
        #price{
            margin: 0rem;
            font-weight: 600;
            font-size: 1.5rem;
        }
        #product-header{
            ion-img{
                width: 100%;
                cursor: pointer;
            }
            #btn-wrapper{
                bottom: 4%;
                right: 1%;
                position: absolute;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
            #upload-img-btn{
                position: relative;
            }
            #edit-btn{
                position: relative;
            }
            #delete-btn{
                position: relative;
            }
        }
       
    }
}