:root {
	--h1-font-size: 2.5rem;
	--h2-font-size: 2rem;
	--h3-font-size: 1.5rem;
	--h4-font-size: 1.25rem;
	--h5-font-size: 1rem;
	--h6-font-size: 0.75rem;
	--display-font-size: 3rem;
	--body-font-size: 1rem;

	--small-border-radius: 1rem;
	--large-border-radius: 2rem;
	--default-border-radius: 1.5rem;
	--extra-small-border-radius: 0.75rem;
	
	--ion-background-color: #0C0C0C;
	--ion-color-primary: #A6FFE0;
	--ion-color-primary-contrast: #000000;
  
	--ion-color-secondary: #2C4E82;
	--ion-color-secondary-contrast: #ffffff;
  
	--ion-color-tertiary: #FF6969; /* Blush Coral */
	--ion-color-tertiary-contrast: #000000;
  
	--ion-color-success: #2dd36f;
	--ion-color-warning: #ffc409;
	--ion-color-danger: #eb445a;
	--ion-color-medium: #92949c;
	--ion-color-light: #f4f5f8;
  
	--ion-item-background: #1e1e1e;
	--ion-toolbar-background: #1f1f1f;
	--ion-tab-bar-background: #1f1f1f;
	--ion-card-background: #1e1e1e;
  
	--ion-text-color: #ffffff;
	--ion-border-color: #222222;
  
	--ion-color-step-50: #1e1e1e;
	--ion-color-step-100: #2a2a2a;
	--ion-color-step-150: #363636;
	--ion-color-step-200: #414141;
	--ion-color-step-250: #4d4d4d;
	--ion-color-step-300: #595959;
	--ion-color-step-350: #656565;
	--ion-color-step-400: #717171;
	--ion-color-step-450: #7d7d7d;
	--ion-color-step-500: #898989;
	--ion-color-step-550: #949494;
	--ion-color-step-600: #a0a0a0;
	--ion-color-step-650: #acacac;
	--ion-color-step-700: #b8b8b8;
	--ion-color-step-750: #c4c4c4;
	--ion-color-step-800: #d0d0d0;
	--ion-color-step-850: #dbdbdb;
	--ion-color-step-900: #e7e7e7;
	--ion-color-step-950: #f3f3f3;
  }