<div *ngIf="authenticationService?.isLoggedIn && !routeService.currentRoute.includes('appchat')" class="container-fluid" id="page">
    <ion-app>
        <app-sidebar></app-sidebar>
      </ion-app>
</div>

<router-outlet *ngIf="!authenticationService?.isLoggedIn || routeService.currentRoute.includes('appchat')"></router-outlet>

<!-- <span id="overlay" *ngIf="chat_active" (click)="toggleChat()"></span> -->
<!-- <app-chatroom  *ngIf="chat_active" id="chat-box"></app-chatroom> -->

<ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="authenticationService?.isLoggedIn && !routeService.currentRoute.includes('appchat')" (click)="toggleChat()">
<ion-fab-button id="fab">
  <ion-icon name="chatbubbles-outline" *ngIf="!chat_active"></ion-icon>
  <ion-icon name="close-outline" *ngIf="chat_active"></ion-icon>
</ion-fab-button>
</ion-fab>