<!-- <app-header></app-header> -->
<ion-content id="pulse">
   <span id="pulse-content">
    <ion-card id="pulse-card">
      <ion-card-header>
        <ion-card-subtitle>Insight 1</ion-card-subtitle>
        <ion-card-title>Key Metric</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- Content for Insight 1 -->
      </ion-card-content>
    </ion-card>
  
    <ion-card id="pulse-card">
      <ion-card-header>
        <ion-card-subtitle>Insight 2</ion-card-subtitle>
        <ion-card-title>Another Metric</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- Content for Insight 2 -->
      </ion-card-content>
    </ion-card>

    <ion-card id="pulse-card">
      <ion-card-header>
        <ion-card-subtitle>Insight 3</ion-card-subtitle>
        <ion-card-title>Another Metric</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- Content for Insight 2 -->
      </ion-card-content>
    </ion-card>
   </span>
  
    <!-- Additional cards for more insights -->

  </ion-content>