<!-- <app-header></app-header> -->
<ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Insight 1</ion-card-subtitle>
        <ion-card-title>Key Metric</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- Content for Insight 1 -->
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Insight 2</ion-card-subtitle>
        <ion-card-title>Another Metric</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- Content for Insight 2 -->
      </ion-card-content>
    </ion-card>
  
    <!-- Additional cards for more insights -->

  </ion-content>