<ion-content padding>
    <span class="ion-text-center logoHolder">
      <img id="authLogo" src="../../../assets/logo.svg" alt="">
    </span>
    <ion-text color="primary" class="authentication-text ion-text-center">
        <h5>Book Better. Look Better.</h5>
    </ion-text>
    <div class="form-container">
        <form class="form" *ngIf="!authenticationToggle">
            <div class="form-group">
              <label for="phone_number">Phone Number</label>
              <input mask='(000) 000-0000' [(ngModel)]="phone_number" type="text" id="phone_number" name="phone_number" required="" placeholder="(000) 000-0000">
            </div>
            <div class="form-group">
              <label for="pin_code">Pin Code</label>
              <input mask='00000' [(ngModel)]="pin_code" type="password" id="pin_code" name="pin_code" required="" placeholder="5 digit pin">
            </div>
  
            <button class="form-submit-btn" type="submit" (click)="login()">login</button>
          </form>
        <form class="form" *ngIf="authenticationToggle">
          <div class="form-group">
            <label for="stylist_name">Name</label>
            <input [(ngModel)]="stylist_name" type="text" id="stylist_name" name="stylist_name" required="" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="phone_number">Phone Number</label>
            <input mask='(000) 000-0000' [(ngModel)]="phone_number" type="text" id="phone_number" name="phone_number" required="" placeholder="(000) 000-0000">
          </div>
          <div class="form-group">
            <label for="pin_code">Search Address</label>
            <input [formControl]="address" type="text" id="location" name="location" required="" placeholder="Start typing to see results">
            <span id="addressResult" *ngFor="let addressResult of locationService.results; let i=index" (click)="selectLocation(addressResult.title)">
                <h4>{{addressResult.title}}</h4>
            </span>
          </div>
          <div class="form-group">
            <label for="pin_code">Pin Code</label>
            <input mask='00000' [(ngModel)]="pin_code" type="password" id="pin_code" name="pin_code" required="" placeholder="5 Digit Pin">
          </div>
          <div class="form-group">
            <label for="pin_codeverify">Verify Pin Code</label>
            <input mask='00000' [(ngModel)]="pin_codeverify" type="password" id="pin_codeverify" name="pin_codeverify" required="" placeholder="Verify Pin">
          </div>
          <!-- <div class="form-group">
            <label for="textarea">How Can We Help You?</label>
            <textarea name="textarea" id="textarea" rows="10" cols="50" required=""></textarea>
          </div> -->
          <button class="form-submit-btn" type="submit" (click)="register()">next</button>
        </form>
      </div>
      <span class="authentication-toggle">
        <ion-toggle labelPlacement="stacked" [(ngModel)]="authenticationToggle">login / register</ion-toggle>
    </span>
  </ion-content>