.authentication-text{
    padding: 0px!important;
    margin: 0px 0px 0px 0px!important;
   h4{
     margin: 40px 30px 0px 30px;
   }
   h5{
    margin: 20px 30px 0px 30px;
  }
}

.authentication-toggle{
    display: flex;
    margin: 20px auto;
    justify-content: center;
    ion-toggle {
        padding: 12px;
        font-family: 'SoraLight';
        --track-background: #ddd;
        --track-background-checked: #ddd;
      
        --handle-background: #95c34e;
        --handle-background-checked: #95c34e;
      
        --handle-width: 25px;
        --handle-height: 27px;
        --handle-max-height: auto;
        --handle-spacing: 6px;
      
        --handle-border-radius: 0px;
        --handle-box-shadow: none;
      }
      
      ion-toggle::part(track) {
        height: 10px;
        width: 65px;
        border-radius: 0px;
        /* Required for iOS handle to overflow the height of the track */
        overflow: visible;
      }
}

.form-container {
    width: auto;
    margin: 20px 50px;
    background: linear-gradient(#212121, #212121) padding-box, linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: 'SoraLight';
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 0px;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  .form-container button:active {
    scale: 0.95;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 12px;
  }
  
  .form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 0px;
    color: #fff;
     font-family: 'SoraLight';
    background-color: transparent;
    border: 1px solid #414141;
  }
  
  .form-container .form-group textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 0px;
    resize: none;
    color: #fff;
    height: 96px;
    border: 1px solid #414141;
    background-color: transparent;
     font-family: 'SoraLight';
  }
  
  .form-container .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .form-container .form-group input:focus {
    outline: none;
    border-color: #bbb8bb;
  }
  
  .form-container .form-group textarea:focus {
    outline: none;
    border-color: #bbb8bb;
  }
  
  .form-container .form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
     font-family: 'SoraLight';
    color: #717171;
    font-weight: 600;
    width: 100%;
    background: #313131;
    border: 1px solid #414141;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 0px;
  }
  
  .form-container .form-submit-btn:hover {
    background-color: #fff;
    border-color: #fff;
  }
  
  
  
  