#location{
    width: 100%;
    display: flex;
    flex-direction: column;
    #addressResult{
        cursor: pointer;
    }
    #addressResult:hover{
        background-color: #5dccff;
    }
}
#category{
    width: 100%;
    display: flex;
    flex-direction: column;
    #categoryResult{
        cursor: pointer;
    }
    #categoryResult:hover{
        background-color: #5dccff;
    }
}
#product-image{
  #image-wrap{
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    img{
        width: 5rem;
        height: 5rem;
    }
    ion-button{
        right: 0;
        bottom: 0;
        position: absolute;
    }
  }
}
#modal-title{
    margin: 0 auto;
    text-align: center;
    font-size: smaller;
}